/* ol ul{
    list-style-type:lower-latin;
    

}
ol ul ul li{
    list-style-type:lower-roman;
}  */
body{
    text-align: center;
}
td{
    padding: 20px;
}
table, th, td{
    border: 3px solid #ccc;
}
table tr td colspan{
    background-color: red;
}
