* {
    box-sizing: border-box;
}

body {
    max-width: 650px;
    margin: 0 auto;
    background-color: rgb(212, 211, 211);
}

p {
    font-weight: 500;
    font-size: 25px;

}

h3 {
    font-size: 20px;
    padding-top: 5px;
    margin: 5px;
}

fieldset {
    margin: 0 auto;
    border: 2px solid black;
}

legend {
    font-size: 25px;
    font-weight: 700;
    color: blue;
}

span {
    font-size: 18px;
    color: red;
}

input {
    vertical-align: center;
    margin-right: 15px;
}
.radio {
    margin: 17px;
    padding: 5px 15px 15px 30px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: #fff;
    line-height: 35px;
}
.radio:hover{
    background-color:rgb(243, 237, 237);
}

.name{
text-align:left;
padding-bottom: 10px;
}

.reset-form button {
	width: 100px;
	height: 35px;
	border: 1px solid #ccc;
	background: blue;
	color: black;
	border-radius: 5px;
	box-shadow: inset 0 2px 2px #ccc;
	cursor: pointer;
    position: relative;
}
button{
width: 100px;
height: 35px;
border: 1px solid #ccc;
background: blue;
color: black;
border-radius: 5px;
box-shadow: inset 0 2px 2px #ccc;
cursor: pointer;
}
button:hover {
	box-shadow: 0 2px 2px rgb(6, 30, 245);
    letter-spacing: 2px;
    transition:all 1s ease-in-out 0.2s;
    background-color: rgb(248, 224, 11);
}

.reset-form button:hover {
	box-shadow: 0 0 2px rgb(6, 30, 245);
}
.but{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    position: relative;
    
}